{%extends "django_registration/base.html"%}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container-fluid" id="reg">
    <div class="row">
        <!-- Empty div -->
        <div class="col-md-6"></div>
        <div class="col-md-6">
            {% if form.errors %}
            <h6> Some Information Might be Incorrect </h6>
            {% endif %}
            <div class="card" id="user">

                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8" style="text-align: center; color: dimgray;" style="font-size:14;">
                            WELCOME TO AWWWARDS.
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <h6 style="text-align:center;"><strong>Register With</strong></h6>
                        <h6 style="text-align:center;">Are you Member? <a href="/accounts/login/?next=/">sign-in</a></h6>
                    </div>

                </div>



                <div class="card-body">

                    <form action="/accounts/register/" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="CREATE YOUR ACCOUNT" style="background-color:#3897f0;padding-left: 110px;padding-right: 110px;">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>

                </div>
                <div class="card-footer text-center " id="footer">
                    &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                    <br>
                    By signing up, I agree to Awwwards's
                    <br>
                    <a href="https://help.instagram.com/581066165581870" target="blank" style="color:gray">Terms of
                        Service</a>

                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}