{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="icon" href="../../static/images/" />
  {% if title %}
  <title>Awwards</title>
  {% else %}
  <link rel="icon" href="../../static/images/" />
  <title> Awwards</title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/award.css' %}">
  <title>Awwards</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

</head>

<body>
  {% include "navbar.html" %}

  {% block content %} 
  
  {%endblock%}


  {% block scripts %}
  {% bootstrap_javascript jquery='full' %}
  {% endblock %}
</body>

</html>